<div class="row" ng-controller="graficiCtrl">
    <div class="col-lg-12">
        <div class="hpanel">
            <div class="panel-heading">
                Andamento del numero di segnalazione nell'ultimo anno
            </div>
            <div class="panel-body">
                <div>
                    <canvas linechart options="sharpLineOptions" data="sharpLineData" height="140" responsive=true></canvas>
                </div>
            </div>
        </div>
    </div>
</div>