<div ng-controller="homeCtrl">
    <div ng-repeat="tipo in tipi" class="row">
        <div ng-controller="homeRowCtrl">

            <div class="col-lg-4">
                <div class="hpanel">
                    <div class="panel-body text-center h-200">
                        <i class="pe-7s-graph1 fa-4x"></i>

                        <h1 class="m">{{tipo.Count}}</h1>

                        <h3 class="font-extra-bold no-margins text-success">
                            {{tipo.Descrizione}}
                        </h3>
                    </div>
                    <div class="panel-footer">
                        Numero totale di segnalazioni
                    </div>
                </div>
            </div>

            <div class="col-lg-4">
                <div class="hpanel">
                    <div class="panel-body">
                        <div class="flot-chart" style="height: 150px">
                            <flot dataset="chartData" options="chartOptions"></flot>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Andamento delle segnalazioni nell'ultimo anno
                    </div>
                </div>
            </div>
            <div class="col-lg-4">
                <div class="hpanel">
                    <div class="panel-body h-200">
                        <div class="col-lg-6 text-center">
                            <img ng-src="{{ultimo.immagine}}" style="width: auto; height:130px; max-width:150px;" />
                        </div>
                        <div class="col-lg-6">
                            <p><strong>Tipo:</strong> {{tipo.Descrizione}}</p>
                            <p><strong>Data:</strong> {{ultimo.Data | date:'dd-MM-yy'}}</p>
                            <p><strong>Ora:</strong> {{ultimo.Data | date:'HH:mm'}}</p>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Ultimo evento segnalato
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>