<div ng-controller="listaCtrl as lista">
    <div class="row">
        <div class="col-lg-9">
            <div class="hpanel">
                <div class="panel-heading">
                    Lista delle ultime segnalazioni
                </div>
                <div class="panel-body">
                    <div class="gridStyle" ng-grid="gridOptions"></div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="hpanel">
                <div class="panel-heading">
                    Immagine caricata
                </div>
                <div class="panel-body">
                    <img ng-src="{{selectedImage}}" err-src="{{defaultImage}}" style="width: 100%;" />
                </div>
            </div>
        </div>
    </div>
</div>