<div class="row" ng-controller="mappaCtrl">
    <div class="col-lg-12">
        <div class="hpanel hgreen">
            <div class="panel-body">

                <div class="row" style="padding: 2em 0;">
                    <div class="col-lg-4 col-md-6" ng-repeat="tipo in tipiSegnalazione"><label> <input icheck type="checkbox" ng-model="selection.ids[tipo.Id]" ng-change="filterChange()"> {{tipo.Descrizione}} </label></div>
                </div>

                <div class="row">
                    <ui-gmap-google-map center="map.center" zoom="map.zoom" draggable="true" options="map.options" events="map.events" control="googlemap">

                        <ui-gmap-markers models="markers" idkey="markers.id" coords="'coords'" click="openMarkerInfo(value)" events="markers.events" icon="'image'">
                            <!--<ui-gmap-windows show="show" closeclick="'openMarkerInfo(id)'" dorebuildall="false">
                                <div ng-non-bindable class="text-center">
                                    <img src="{{immagine}}" style="width: auto; height:100px;" />
                                    <p>{{descrizione}}</p>
                                    <p>{{value.Data | date:'dd-MM-yy'}} alle ore {{value.Data | date:'HH:mm'}}</p>
                                </div>
                            </ui-gmap-windows>-->

                        </ui-gmap-markers>
                    </ui-gmap-google-map>
                </div>
                <div class="row" style="padding: 2em 0;" ng-show="selectedValue.show">
                    <div class="col-lg-6 text-center">
                        <img ng-src="{{selectedValue.immagine}}" style="width: auto; height:100px;" />
                    </div>
                    <div class="col-lg-6">
                        <p><strong>Tipo:</strong> {{selectedValue.descrizione}}</p>
                        <p><strong>Data:</strong> {{selectedValue.Data | date:'dd-MM-yy'}}</p>
                        <p><strong>Ora:</strong> {{selectedValue.Data | date:'HH:mm'}}</p>
                    </div>
                </div>
                <div class="panel-footer contact-footer">
                    <div class="row">
                        <div class="col-md-4 border-right">
                            <div class="contact-stat"><span>Totale: </span> <strong>{{totale}}</strong></div>
                        </div>
                        <div class="col-md-4 border-right">
                            <div class="contact-stat"><span>Filtrati: </span> <strong>{{filtrati}}</strong></div>
                        </div>
                        <div class="col-md-4">
                            <div class="contact-stat"><span>Categorie: </span> <strong>{{tipiSegnalazione.length}}</strong></div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
