﻿<!DOCTYPE html>
<html ng-app="app">
<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <!-- Page title set in pageTitle directive -->
    <title page-title></title>
    <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
    <!--<link rel="shortcut icon" type="image/ico" href="favicon.ico" />-->
    <!-- build:css(.) styles/vendor.css -->
    <!-- bower:css -->
    <link rel="stylesheet" href="bower_components/fontawesome/css/font-awesome.css" />
    <link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="bower_components/ng-grid/ng-grid.min.css" />
    <!-- endbower -->
    <!-- endbuild -->
    <!-- build:css({.tmp,app}) styles/style.css -->
    <link rel="stylesheet" href="styles/style.css">
    <link rel="stylesheet" href="styles/custom.css" />
    <!-- endbuild -->
</head>

<body class="{{$state.current.data.specialClass}}" landing-scrollspy tour backdrop="true">

    <!-- Simple splash screen-->
    <div class="splash">
        <div class="color-line"></div><div class="splash-title">
            <h1>Smart city - 16/07/2015</h1>
            <p>Progetto realizzato da Thomas Trapanese e Alessandro Neri. </p><img src="images/loading-bars.svg" width="64" height="64" />
        </div>
    </div>
    <!--[if lt IE 7]>
    <p class="alert alert-danger">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->
    <!-- Page view wrapper -->
    <div ui-view autoscroll="true"></div>

    <!-- build:js(.) scripts/vendor.js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.min.js"></script>
    <script src="bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="bower_components/jquery-flot/jquery.flot.js"></script>
    <script src="bower_components/angular-flot/angular-flot.js"></script>
    <script src="bower_components/iCheck/icheck.min.js"></script>
    <script src="bower_components/chartjs/Chart.min.js"></script>
    <script src="bower_components/angles/angles.js"></script>
    <script src="bower_components/ng-grid/ng-grid-2.0.14.min.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-poller/angular-poller.js"></script>
    <script src="bower_components/lodash/lodash.js"></script>
    <script src="bower_components/angular-google-maps/dist/angular-google-maps.js"></script>
    <!-- endbuild -->

    <script src='//maps.googleapis.com/maps/api/js?sensor=false'></script>
    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/common.js"></script>
    <script src="scripts/app.js"></script>
    <script src="scripts/config.js"></script>
    <script src="scripts/directives/directives.js"></script>

    <script src="scripts/services/segnalazioni.js"></script>
    <script src="scripts/services/tipiSegnalazioni.js"></script>

    <script src="scripts/controllers/grafici.js"></script>
    <script src="scripts/controllers/home.js"></script>
    <script src="scripts/controllers/homeRow.js"></script>
    <script src="scripts/controllers/mappa.js"></script>
    <script src="scripts/controllers/lista.js"></script>
    <script src="scripts/controllers/navigation.js"></script>
    <!-- endbuild -->
</body>
</html>