<div class="color-line">
</div>
<div id="logo" class="light-version">
        <span>
            Smart City Project
        </span>
</div>
<nav role="navigation">
        <minimaliza-menu></minimaliza-menu>
    <div class="small-logo">
        <span class="text-primary">Smart City Project</span>
    </div>
</nav>




