<div id="navigation">
    <div class="profile-picture" ng-controller="navigationHeaderCtrl">
        <a href="index.html">
            <img ng-src="{{immagineProfilo}}" class="img-circle m-b" alt="logo" style="height: 100px;">
        </a>

        <div class="stats-label text-color">
            <span class="font-extra-bold font-uppercase">{{nome}}</span>
        </div>
    </div>

    <ul side-navigation class="nav" id="side-menu">
        <li ui-sref-active="active">
            <a ui-sref="app.home"> <span class="nav-label">Home</span></a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.mappa"> <span class="nav-label">Mappa</span></a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.lista"> <span class="nav-label">Ultime segnalazioni</span></a>
        </li>
        <li ui-sref-active="active">
            <a ui-sref="app.grafici"> <span class="nav-label">Grafici</span></a>
        </li>
    </ul>
</div>